.male {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.m-f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
